# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variables
*.tfvars
*.tfvars.json

# Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI
.terraformrc
terraform.rc

# Editors / OS
.vscode/
.idea/
.DS_Store
